@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(106, 92, 189);
}

.body_content {
    background-color: white;
    font-size: .5rem;
    display: flex;
    align-items: center;
    height: 2rem;
}
    

.body_content input{
    border: none;
    background-color: inherit;
    width: 0rem;
    padding: 0rem;
    height: inherit;
    transition: 400ms ease;
    font-size: 14px;
    outline: none;
}

.body_content .input_expanded{
    width: 9rem;
    padding: 1rem;
}


.body_content .find_icon{
   width: 2rem;
   height: inherit;
   background-color: antiquewhite;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.body_content .find_icon i{
    scale: 180%;
}