@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    width: 80vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;/* propriete importante. fais des recherche la dessus */
    margin: 5px;
    position: relative;
    transition: 400ms ease-in;
}

.panel h3{
    position: absolute;
    bottom: 1rem;
    left: 20px;
    margin: 0%;
    opacity: 0;
}

.panel.active{
    flex:5;
    border: solid 5px rgb(212, 163, 56); /*  */
}


.panel.active h3{
    opacity: 1;
   
}

@media(max-width: 500px){
    .panel:nth-child(4),.panel:nth-child(5) {
        display: none;
    }
}