@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color_blue: #31398e;
  --color_blue_dark: #202252;
  --color_blue_darken: #13152f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--color_blue);
}

main {
  width: 25rem;
  background-color: var(--color_blue_dark);
  color: white;
  padding: 2rem 1.5rem;
  box-shadow: 0rem 0rem 0.8rem rgba(255, 255, 255, 0.267);
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.main__wrapper input:focus {
  outline: none;
}

.main__wrapper h3 {
  font-size: 1.7rem;
}

.main__display_password {
  height: 3rem;
  width: 100%;
  background-color: var(--color_blue_darken);
  padding: 0.3rem;
  display: flex;
  align-items: center;
}
.main__display_password input {
  width: 100%;
  height: inherit;
  background-color: var(--color_blue_darken);
  border: none;
  color: white;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.main__cliboard_button {
  background-color: var(--color_blue_dark);
  width: 2rem;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
}

.main__cliboard_button img {
  width: 1.5rem;
}

.main__password_parameter {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.main__password_parameter input[type="number"] {
  width: 3rem;
}

.main__generate_password {
  width: 100%;
  color: white;
  background-color: var(--color_blue);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.212);
}

.main__generate_password input {
  width: inherit;
  height: 2rem;
  border: none;
  color: white;
  font-weight: 800;
  background-color: var(--color_blue);
  cursor: pointer;
}

.main__generate_password:active {
  transform: scale(98%);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.767);
}
