@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root{
    --blue_light : rgb(201, 240, 253);
    --blue_dark : rgb(45, 137, 243);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: linear-gradient(180deg, var(--blue_light) 0%, var(--blue_light)50%, var(--blue_dark)50%, var(--blue_dark)100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

nav{
    padding: .5rem 1.5rem;
    background-color: white;
    box-shadow: 0rem .2rem .3rem rgba(0, 0, 0, 0.39);

}

.nav_content{
    width: fit-content;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
    transition: 800ms;
}

.link_wrapper{
    margin-right: 0rem;
    transition: inherit;
}

.active{
    margin-right: -15rem;
    /* transform: rotateY(80deg); */

}

.link_wrapper a{
    transition: inherit;
    display: inline-block;
    margin: 0 .3rem;
    color: black;
    text-decoration: none;
}

.active a{
    transform: rotateY(450deg);
    opacity: 0;
}


.nav_image{
    margin: 0 .5rem ;
    height: inherit;
    width: 2.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

.nav_image::before {
    content: "<div></div><div></div>"
}
  