@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.body_content{
    background-color: rgb(77, 77, 77);
    width: 100%;
}

.wrapper_content{
    width: 55vw;
    margin: auto;
    background-color: white;
}