:root{
    --color1: white;
    --color21: rgb(51, 50, 65);
    --color22: rgb(81, 79, 107);
    --timing_function: linear;
    --timing_function:  cubic-bezier(0.000, 1.220, 1.000, -0.270);
    /* --timing_function:  cubic-bezier(0.000, 1.220, 0.860, 0.125); */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--color21);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: impactColor 2s  infinite steps(1) ;
}

.body_wrapper{
    position: relative;
    height: 10rem;
    aspect-ratio: 1;
}

.triangle{
    height: 3rem;
    aspect-ratio: 1;
    background: linear-gradient(135deg, var(--color1) 0%, var(--color1)50%, var(--color21)50%, var(--color21)100%);   
    position:absolute ;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    transform: rotate(45deg);
}

.one{
    transform: rotate(45deg);
    animation: kineticsLoaderOne 4s var(--timing_function) infinite;
}

.two{
    transform: rotate(-45deg);
    animation: kineticsLoaderTwo 4s 1s var(--timing_function)  infinite;
}

@keyframes impactColor {
    0%{
      background-color: var(--color22);
    }
    50%{
        background-color: var(--color21);
    }
    100%{
        background-color: var(--color22);
    }
}

@keyframes kineticsLoaderTwo {
    0%{
        transform: rotate(-45deg);
    }
    25%{
        transform: rotate(135deg);
    }
    50%{
        transform: rotate(135deg);
    }
    75%{
        transform: rotate(315deg);
    }
    100%{
        transform: rotate(315deg);
    }
}

@keyframes kineticsLoaderOne {
    0%{
        transform: rotate(45deg);
    }
    25%{
        transform: rotate(225deg);
    }
    50%{
        transform: rotate(225deg);
    }
    75%{
        transform: rotate(405deg);
    }
    100%{
        transform: rotate(405deg);
    }
}